body {
  box-sizing: border-box;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  background-color: hsl(230, 100%, 99%);
  color: hsl(225, 20%, 60%);
}

/**************/
/* Typography */
/**************/

h1 {
  color: hsl(227, 35%, 25%);
}
.intro,
.pricing {
  font-size: 15px;
}

.pageviews {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.billing,
.benefits,
.button,
.pageviews {
  font-size: 12px;
}

.benefits__span {
  font-size: 16px;
  color: hsl(174, 90%, 83%);
}

/**********/
/* Layout */
/**********/
h1,
.intro {
  text-align: center;
}

.pricing-comp-container-top,
.pricing-comp-container-bottom {
  padding: 2em;
  width: 80%;
  max-width: 450px;
}

.pricing-comp-container-top {
  display: grid;
  grid-auto-flow: row;
  margin: 5em auto 0;
}

.pricing-comp-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 5em;
}

.pricing,
.pageviews,
.slider,
.billing {
  margin: 1em auto;
}

.billing--span,
.billing--toggle {
  display: inline-block;
}

.benefits {
  text-align: center;
}

/**************/
/* Components */
/**************/

.pricing-comp-container-top,
.pricing-comp-container-bottom {
  background-color: #fff;
}

.pricing-comp-container-top {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid hsl(230, 100%, 99%);
}

.pricing-comp-container-bottom {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.slider {
  background-color: hsl(174, 77%, 80%);
  height: 10px;
  width: 100%;
  border-radius: 50px;
  margin: 15px auto;
}

/* This is the gray toggle bar */
.billing--toggle {
  width: 40px;
  height: 22px;
  border-radius: 50px;
  background-color: hsl(223, 50%, 87%);
  position: relative;
}

/*This is the little white circle within the toggle bar */
.billing--toggle__btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 5px;
}
